<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OrcaleConnection" connectionString="Data Source=libsys;Persist Security Info=True;User ID=libsys;Password=libsys" />
    <add name="SQLConnection" connectionString="Data Source=192.168.1.100;Initial Catalog=SeatManageDBV2;Persist Security Info=True;User ID=sa;Password=njzbwx" />
    <add name="ConnectionString" connectionString="Data Source=192.168.1.100;Initial Catalog=SeatManageDBV2;Persist Security Info=True;User ID=sa;Password=njzbwx" />
    <add name="SybaseConnection" connectionString="Data Source=192.168.1.100;Port=8000;charset=cp850;UID=system;PWD=123;Database=libsys" />
  </connectionStrings>
  <appSettings>
    <add key="SourceType" value="0" />
    <add key="SourceKey" value="CardID:CardID;CardNo:CardNo;Name:Name;Sex:Sex;Type:Type;Dept:Dept;Flag:Flag;Password:Password" />
    <add key="UseFtp" value="0" />
    <add key="FTPFileUrl" value="FTP://192.168.1.100/ReaderInfo.txt" />
    <add key="FTPUID" value="seat" />
    <add key="FTPPW" value="123" />
    <add key="FilePath" value="D:\\SeatManageV2\ReaderInfo.txt" />
    <add key="XZXIP" value="192.168.1.99:8500" />
    <add key="XZXSysCode" value="31" />
    <add key="TerminalNo" value="1" />
    <add key="EveryInfoGet" value="0" />
    <add key="SyncAccountNum" value="0" />
    <add key="NoStudentUseAccount" value="0" />
    <add key="AccessAccount" value="0" />
    <add key="AutoSetup" value="0" />
    <add key="ClearAccount" value="0" />
    <add key="MiniSetup" value="0" />
    <add key="SyncPw" value="0" />
    <add key="SyncTime" value="2:00" />
    <add key="SyncSpanTime" value="120" />
    <add key="IsSpanTime" value="1" />
    <add key="SQLString" value="SELECT [CardNo],[CardID],[SecReaderNo],[ReaderPW],[ReaderName],[Email],[TelNo],[Sex],[ReaderTypeName],[ReaderDeptName],[ReaderProName],[Flag]&#xA;FROM [dbo].[T_SM_Reader]&#xA;" />
  </appSettings>
</configuration>